.flexCenter {
  display: flex;
  justify-content: center;
}
html {
  font-size: 62.5%;
  font-family: 'Lato', Arial, Helvetica, sans-serif;
}
h1 {
  color: white;
  padding: 2%;
  font-size: 4rem;
  text-align: center;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2rem;
}
@media (max-width:500px) {
  h4 {
    font-size: 1.2rem;
  }
}
.infoHeaderText {
  color: black;
  text-align: center;
}
i {
  font-size: 5rem;
  color: #ec1a83;
}
p {
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif;
}
span {
  font-size: 2.5rem;
  color: hotpink;
}
button {
  height: 7vh;
  background-color: #e4137b;
  color: white;
  width: 15%;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 10%;
}
@media (max-width:500px) {
  button {
    width: 50%;
  }
}
a {
  padding: 2%;
  margin: 2%;
  font-size: 2rem;
  color: #e4137b;
  font-weight: bold;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.headerNav {
  display: flex;
  justify-content: space-between;
  height: 12vh;
}
.navButtonContainer {
  padding-top: 2%;
  width: 33%;
  height: 8vh;
  text-align: center;
}
@media (max-width:500px) {
  .navButtonContainer {
    width: 60%;
  }
}
@media (max-width:800px) {
  .navButtonContainer {
    width: 70%;
  }
}
.navButtonContainer a {
  padding: 2%;
  margin: 2%;
  font-size: 2rem;
  color: #e4137b;
  text-decoration: none;
}
.navButtonContainer a:hover {
  text-decoration: underline;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.headerContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: url(../hero2.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  border: 1.5px solid black;
}
.infoContainer {
  display: flex;
  justify-content: space-around;
  padding-bottom: 3%;
}
@media (max-width:500px) {
  .infoContainer {
    font-size: 1.2rem;
  }
}
.infoContainer div {
  text-align: center;
  width: 20%;
}
footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
@media (max-width:500px) {
  footer {
    width: 100%;
  }
}
footer div {
  width: 40%;
}
footer .footerContainer2 {
  padding-right: 3%;
  text-align: left;
}
footer .footerContainer2 i {
  font-size: 3rem;
  position: relative;
  left: 70%;
}
@media (max-width:500px) {
  footer .footerContainer2 i {
    left: 30%;
  }
}
.headerContainerFAQ {
  background: url(../lost.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}
.headerContainerFAQ h1 {
  color: black;
}
