.flexCenter {
  display: flex;
  justify-content: center;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
}
html {
  font-size: 62.5%;
  font-family: "Palatino", "URW Palladio L", "serif";
}
h1 {
  color: white;
  padding: 2%;
  font-size: 4rem;
  text-align: center;
}
#aboutH1 {
  color: black;
  font-size: 5rem;
}
h3 {
  font-size: 2.5rem;
  margin-bottom: 6%;
  margin-top: 6%;
}
h4 {
  font-size: 2rem;
}
@media (max-width:500px) {
  h4 {
    font-size: 1.2rem;
  }
}
.infoHeaderText {
  color: black;
  text-align: center;
}
i {
  font-size: 3rem;
  color: #ec1a83;
  margin: 2%;
}
p {
  font-size: 2rem;
  font-family: 'Ubuntu', sans-serif;
}
span {
  font-size: 2.5rem;
  color: hotpink;
}
#teamImg {
  width: 200px;
  border-radius: 50%;
}
.headerNav {
  display: flex;
  justify-content: space-between;
}
#aboutNav a {
  padding: 10%;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #fffdfd;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: hotpink;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
footer {
  color: #22283B;
  background: #f4f4f4;
  padding: 20px 0;
  border-top: 0.5px double hotpink;
  border-radius: 10px;
  display: flex;
  background-color: gainsboro;
}
@media (max-width:500px) {
  footer {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
  }
}
footer #footerNav {
  padding: 2%;
  margin: 2%;
  font-size: 2rem;
  color: #e4137b;
  font-weight: bold;
  text-decoration: none;
}
footer #footerNav:hover {
  text-decoration: underline;
}
.headerContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: url(../hero2.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  border: 1.5px solid black;
}
.infoContainer {
  display: flex;
  justify-content: space-around;
  padding-bottom: 3%;
}
@media (max-width:500px) {
  .infoContainer {
    flex-direction: column;
    width: 100%;
  }
}
.infoContainer div {
  text-align: center;
  width: 20%;
  padding: 2%;
}
@media (max-width:500px) {
  .infoContainer div {
    padding: 5%;
    width: 100%;
  }
}
footer {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
@media (max-width:500px) {
  footer {
    width: 100%;
  }
}
footer div {
  width: 40%;
}
footer .footerContainer2 {
  padding-right: 3%;
  text-align: left;
}
@media (max-width:800px) {
  footer .footerContainer2 {
    margin-right: 2%;
    width: 10%;
  }
}
footer .footerContainer2 i {
  font-size: 3rem;
  position: relative;
  left: 70%;
}
@media (max-width:500px) {
  footer .footerContainer2 i {
    left: 30%;
  }
}
.headerContainerFAQ {
  background: url(../lost.jfif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
}
.headerContainerFAQ h1 {
  color: black;
}
.teamContainer {
  padding: 20px;
  margin: 16px 10px;
  display: flex;
  flex-wrap: wrap;
}
.teamContainer hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.teamContainer div {
  text-align: center;
  width: 25%;
  margin-bottom: 2%;
}
