html {
    font-size: 62.5%;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
  
  }

 h1{
     color:white;
     padding:2%;
     font-size:4rem;
     text-align: center;

     
 }
 h3{
     font-size:2.5rem;
 }

 h4{
     font-size:2rem;
     @media @phone {
         font-size: 1.2rem;
     }
    
    }

 
 .infoHeaderText{
    color:black;
    text-align: center;
   
    
    
}

i{
    font-size:5rem;
    color:rgb(236, 26, 131);
   
}

p{

    font-size:2rem;
    font-family: 'Ubuntu', sans-serif;
}



span{
    font-size:2.5rem;
    color:hotpink;
}
button{
    

    
    height:7vh;
    background-color:rgb(228, 19, 123);
    color:white;
    width:15%;
    font-weight:bold;
    font-size:1.5rem;
    border-radius:10%;

    @media @phone {
        width:50%;
    }

}
a{
    padding:2%;
    margin:2%;
    font-size:2rem;
    color:rgb(228, 19, 123);
    font-weight: bold;
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

