// Home Content

.headerContainer{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background:url(../hero2.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height:80vh;
    border:1.5px solid black;

}

.infoContainer{
    display:flex;
    justify-content: space-around;
    padding-bottom: 3%;
     @media @phone {
         font-size: 1.2rem;
     }


    div{
        text-align: center;
        width:20%;
        
    }
}

footer{
    display: flex;
    justify-content: space-evenly;
    width:100%;
    @media @phone {
       width:100%;
    }

    div{
        width:40%;
    }
    .footerContainer2{
        padding-right:3%;
        text-align: left;
        

        i{
           font-size:3rem;
           position: relative;
            left:70%;

            @media @phone {
                left:30%;
            }
         
        }

    }

}

.headerContainerFAQ{
    background:url(../lost.jfif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    height:50vh;


    h1{
        color:black;
    }
    
}
