.headerNav{
    display: flex;
    justify-content: space-between;
    height:12vh;
    
    
}
   
    
    .navButtonContainer{
        padding-top:2%;
        width:33%;
        height:8vh;
        text-align: center;
        
        @media @phone{
        width:60%;
        }

        @media @tablet{
        width:70%;
        }

    a{
        padding:2%;
        margin:2%;
        font-size:2rem;
        color:rgb(228, 19, 123);
        text-decoration: none;
        
    
     &:hover{
         text-decoration: underline;
     }
    

    }

}



    

